body {
  font-family: "Titillium Web", sans-serif;
}
.heading {
  font-weight: 700;
}
.subheading {
  font-weight: 300;
}

.headline {
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 1) 0%,
    rgba(252, 251, 248, 1) 0%,
    rgba(255, 255, 255, 1) 40%,
    rgba(236, 229, 208, 1) 98%,
    rgba(236, 229, 208, 1) 100%
  );
}
